*.zip
*.raw
*.dat
*.bed
*.bim
*.fam
*.ld
*.rda
*.genome
*.map
*.ped
*.log
*.exe
*.RData
*.Rhistory
Script*
/ref/*
*/old/*
*/main_cache/*
*/main_files/*
/3-linkage-disequilibrium/main-2.rmd
P*.Rmd
P*.pdf
LICENSE